.wrapper {
  background: var(--chartTooltipBg);
  padding: 10px 15px;
  /*box-shadow: 0 0 15px 2px rgba(158, 158, 158, 0.25);*/
}

.title {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  border-bottom: 1px solid var(--chartTooltipBorderBg);
  padding-bottom: 4px;
}

.label {
  margin-top: 5px;
  font-size: 14px;
  text-transform: uppercase;
}

.labelTitle {
  width: 130px;
  font-weight: bold;
  display: inline-block;
  color: var(--secondaryText);
}
